<%- include("partials/header.ejs") -%>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header"><i class="fas fa-head-side-mask mask"></i>  Respecting Social Distancing, Keep Safe!</div>
            </div>
        </div>
    </div>

      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img class="flier" src="images/flier.jpg" alt="">
            </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header">
                    Serving the Houston Metro Area since 1987
                </div>
            </div>
        </div>
    </div>


<%- include("partials/footer.ejs") -%>
